fastapi==0.122.0
langchain_core==1.1.0
langchain_groq==1.1.0
langgraph==1.0.4
numpy==2.3.5
pandas==2.3.3
pydantic==2.12.5
python-dotenv==1.2.1
razorpay==2.0.0
resources==0.0.1
scikit_learn==1.7.2
SQLAlchemy==2.0.44
uvicorn==0.38.0
